<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4 text-center"> Bienvenue dans Gossip Land !</h1>
      <p class="lead text-center"> Retrouvez dès maintenant et jusqu'à que tous les corbeaux disparaissent, une selection des plus belles,bizarre,innatendu,gossip de cette session 11 de Thp!!!</p>
      <%= link_to"Créer Gossip", new_gossip_path, class: "btn btn-info btn-lg btn-block" %>
      <hr class="my-4 ">
      <p class="text-center">Pour en découvrir plus sur vos camarades de jeu, ça se passe en dessous!!!</p>

      <% @gossips.each do |gossip| %>
        <div class="card text-center" >
          <ul class="list-group list-group-flush ">
            <li class="list-group-item"> <%=gossip.title%></li>
            <li class="list-group-item"> Auteur du gossip : <%= @users.find(gossip.user_id).first_name %></li>
          </ul>
        </br>
          <%= link_to"Go Gossip!!!", gossip_path(@id = gossip.id), class: "btn btn-success btn-lg btn-block" %>
        </div>
        </br>
        
      <% end %>
   
  </body>
</html>

