<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4 text-center"> Bienvenue dans Gossip Land !</h1>
      <p class="lead text-center"> Retrouvez dès maintenant et jusqu'à que tous les corbeaux disparaissent, une selection des plus belles,bizarre,innatendu,gossip de cette session 11 de Thp!!!</p>
      <hr class="my-4 ">
      <p class="text-center">Pour en découvrir plus sur vos camarades de jeu, ça se passe en dessous!!!</p>
   
  </body>
</html>
