</br>
<div class="d-flex justify-content-around text-center">
<div class="card " style="width: 18rem;">
  <div class="card-body">
  <%= image_tag "singe.jpg", class: "d-block w-100", alt: "Singe" %>
  </br>
    <h3 class="card-text">Bien joué , tu as lu le README!!!!</h3>
  </div>
</div>
</div>