<html>
  <head>
    <title>Contact</title>
  </head>
  <body>
  <%= image_tag "contacts.png", class: "d-block w-100", alt: "contacts" %>
    </br>
    <div class="d-flex justify-content-around text-center">
      <div class="card" style="width: 18rem;">
        <%= image_tag "flo.jpg", class: "d-block w-100", alt: "Florian Poulichet" %>
        <div class="card-body">
          <h5 class="card-title">Florian Poulichet</h5>
          <p class="card-text">Alias BearCub29 sur Github, n'est jamais à l'abris d'une boulette dans son code!!!</p>
          <hr class="my-4">
          <a href="https://github.com/BearCub29" class="btn btn-success">Go Github</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <%= image_tag "huss.jpg", class: "d-block w-100", alt: "Husain KHATBA" %>
        <div class="card-body">
          <h5 class="card-title">Husain KHATBA</h5>
          <p class="card-text">Alias 	Husain_KHATBA sur Github, n'est jamais à l'abris d'exploser un paquet de noix de cajoux !!!</p>
          <hr class="my-4">
          <a href="https://github.com/khatba" class="btn btn-success">Go Github</a>
        </div>
      </div>
    </div> 
  </body>
</html>

